name: testing and deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t backend-image .

      - name: Testing
        run: docker run --rm backend-image pytest -s -v

      - name: Deploy
        run: docker-compose up -d
